@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer _localizer

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - HobbyHarbor.WebUI</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="border-bottom box-shadow mb-3">
			<div>
				<a class="header-logo" asp-controller="Home" asp-action="Index">@_localizer["HobbyHarbor"]</a>
				<a asp-controller="Home" asp-action="Index">@_localizer["Home"]</a>
				<a asp-controller="Home" asp-action="PrivateChats">@_localizer["PrivateChats"]</a>
				<a asp-controller="Home" asp-action="PublicChats">@_localizer["PublicChats"]</a>
				<a href="#">@_localizer["Blog"]</a>
				<a href="#">@_localizer["FindNewPeople"]</a>
			</div>
			<div>
				@if (User.Identity.IsAuthenticated)
				{
					<a asp-controller="Home" asp-action="Logout">@_localizer["SignOut"]</a>
				}
				else 
				{
					<a asp-controller="Home" asp-action="Login">@_localizer["SignIn"]</a>
				}
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="footer-copyright">
			&copy; 2023 - HobbyHarbor
		</div>
		@await Html.PartialAsync("_CulturePartial")
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/main-min.js" asp-append-version="true"></script>
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/chats.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
