@model CommentViewModel

<div class="comment">
	<div class="comment-author-container">
		<img class="comment-profile-image" src="data:image/jpg;base64,@Model.ProfileImage.Image" />
		<div>
			<div class="comment-profile-name">
				<h2 class="profile-name">@Model.Name @Model.Surname</h2>
				<p>@Model.Username</p>
			</div>
			<p class="comment-reply">Reply</p>
		</div>
	</div>
	<p class="comment-text"><b>@GetPrefix()</b> @Model.Text</p>
	<div class="comment-bottom">
		<div class="reaction-container">
			<div class="reactions">
				<img src="~/images/like.png" />
				<p>@Model.Likes</p>
			</div>
			<div class="reactions">
				<img src="~/images/Dislike.png" />
				<p>@Model.Dislikes</p>
			</div>
		</div>
		<p class="comment-publication-time">@Model.Time.ToShortTimeString()</p>
	</div>
</div>
@if (Model.ReplyCommentId == null)
{
	<div class="comment-replies">
		<button data-commentid="@Model.Id" class="comment-replies-button">Replies</button>
		<div class="comment-reply-wrapper hide"></div>
	</div>
}

@functions {
	string GetPrefix()
	{
		return Model.ReplyCommentId != null ? $"{Model.ReplyCommentUsername}," : "";
	}
}